<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/task.css">
		
        <script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/task.js"></script>
	</head>

	<body>
		
		<!-- Injecting EJS variables into JS environment -->
		<script> 
			var participant_id = '<%= participant_id %>';
			var participant_type = '<%= participant_type %>';
			var category_type = '<%= category_type %>';
			var task_id = parseInt('<%= task.id_task %>');
			var task_obj = JSON.parse('<%- JSON.stringify(PARTICIPANT_TYPES)%>');
			var classification_obj = JSON.parse('<%- JSON.stringify(classification)%>');

			const PARTICIPANT_TYPES = JSON.parse('<%- JSON.stringify(PARTICIPANT_TYPES)%>');
			const CATEGORY_TYPES = JSON.parse('<%- JSON.stringify(CATEGORY_TYPES)%>');
		</script>

		<!-- Zoomable/Panable Mammogram Modal -->
		<div class="mammogram-modal hidden" id="mammogram-modal">
			<button class="mammogram-modal-button" id="mammogram-modal-close">&#10006;</button>
			<button class="mammogram-modal-button" id="mammogram-modal-reset">Reset</button>
			<button class="heatmap_button_modal" id="show_heatmap_button_modal">Show Heatmap</button>
			<button class="heatmap_button_modal hidden" id="hide_heatmap_button_modal">Hide Heatmap</button>
			<div id="mammogram-modal-content">
				<div id="zoomable-container">
					<img ondragstart="return false" class="modal_mammogram" id="mamm_img_modal" src="/img/mammograms/<%=task.mamm_file_name%>">
					<img ondragstart="return false" class="modal_mammogram hidden" id="heatmap_img_modal" src="/img/heatmaps/<%=task.heat_file_name%>">
				</div>
			</div>
		</div>

		<!-- Task Page Body -->
        <div id="body">

			<h2 id="task_counter"><%= classification.finished.length + 1 %> / 15</h2>

			<div id="mammograms">
				<img class="mammogram" id="mamm_img" src="/img/mammograms/<%=task.mamm_file_name%>">
				<img class="mammogram hidden" id="heatmap_img" src="/img/heatmaps/<%=task.heat_file_name%>">
			</div>

			<div id="body_right">
				<div id="patient_info">
					<h3>Patient Information</h3>
					<p><strong>Age: </strong><%= task.age %></p>
					<p><strong>Genetic Predisposition: </strong><%= task.genetic_predis %></p>
				</div>

				<button class="heatmap_button" id="show_heatmap_button">Show Heatmap</button>
				<button class="heatmap_button hidden" id="hide_heatmap_button">Hide Heatmap</button>

				<div class="info_component" id="AI_info">
					<div class="info_content_wrapper">
						<div class="info_content_box hidden" id="AI_info_box">
							<img class="AI_info_img" id="AI_info_img" src="/img/attributes/<%=task.attribute_file_name%>">
						</div>
					</div>
					<img class="info_icon" id="show_AI_info" src="/img/misc/info.png">
				</div>
			</div>
        </div>
		
		<div id="classification_menu">

			<div id="classification_menu_left">
				<button class="show_ai_button " id="show_AI_button">Show AI suggestion</button>
				
				<div class="AI_suggestion hidden" id="AI_suggestion">
					<div id="AI_suggestion_title_wrapper">
						<h4>AI BIRADS Suggestion:</h4>
						
						<div class="info_component" id="PD_info">
							<div class="info_content_wrapper">
								<div class="info_content_box hidden" id="PD_info_box">
									<p>AI Malignancy Score:</p>
									<%
									var color = null;
									if(task.ai_classification.li >= task.ai_classification.re) { 
										color = task.ai_classification.li;
									} else { 
										color = task.ai_classification.re;
									}%>
									<p><em class="ai-suggestion-class-<%= color %>"><%=task.abnormality_score%>%</em></p>
								</div>
							</div>
							<img class="info_icon" id="show_PD_info" src="/img/misc/info.png">
						</div>
					</div>	
					<h5>Left: <em class="ai-suggestion-class-<%=task.ai_classification.li%>"><%= task.ai_classification.li%></em></h5>
					<h5>Right: <em class="ai-suggestion-class-<%=task.ai_classification.re%>"><%= task.ai_classification.re%></em></h5>
				</div>
			</div>

			<div id="classification_menu_mid">
				<div id="classification_title_wrapper">
					<h4>Give your classification:</h4>

					<div class="info_component" id="BIRADS_info">
						<div class="info_content_wrapper">
							<div class="info_content_box hidden" id="BIRADS_info_box">
								<img class="birads_info_img" id="birads_info_img" src="/img/misc/birads_info.jpeg"> 
							</div>
						</div>
						<img class="info_icon" id="show_BIRADS_info" src="/img/misc/info.png">
					</div>

				</div>

				<form id="birads_classification_form">
					<div class="birads_class_row">
						<h5>Left:</h5>
						<div class="radio-button">
							<input type="radio" id="cat1" name="birads_class_left" value="1" required>
							<label for="cat1">1</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat2" name="birads_class_left" value="2">
							<label for="cat2">2</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat3" name="birads_class_left" value="3">
							<label for="cat3">3</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat4" name="birads_class_left" value="4">
							<label for="cat4">4</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat5" name="birads_class_left" value="5">
							<label for="cat5">5</label>
						</div>
					</div>

					<div class="birads_class_row">
						<h5>Right:</h5>
						<div class="radio-button">
							<input type="radio" id="cat1" name="birads_class_right" value="1" required>
							<label for="cat1">1</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat2" name="birads_class_right" value="2">
							<label for="cat2">2</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat3" name="birads_class_right" value="3">
							<label for="cat3">3</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat4" name="birads_class_right" value="4">
							<label for="cat4">4</label>
						</div>
						<div class="radio-button">
							<input type="radio" id="cat5" name="birads_class_right" value="5">
							<label for="cat5">5</label>
						</div>
					</div>
				</form>
			</div>

			<div id="classification_menu_right"> 
				<button id="task_submit_button" form="birads_classification_form">Submit answer & continue</button>
			</div>
		</div>
	</body>
</html>